.error {
    color: #d50000;
}

.main-panel > .content {
    min-height: calc(100vh - 158px);
}

.card [class*="card-header-"]:not(.card-header-icon):not(.card-header-text):not(.card-header-image) {
    margin-bottom: 25px;
}

.which-dashboard {
    color: #a7a8a9 !important;
    font-size: 16px !important;
}

.form-control[disabled], fieldset[disabled] .form-control, .form-group .form-control[disabled], fieldset[disabled] .form-group .form-control {
    color: grey;
}